body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    padding: 0;
    margin: 0;
    text-align: center;
}

p {
    font-size: 22px;
}

.container {
    max-width: 45em;
    min-width: 45em;
    text-align: center;
}

.title {
    font-size: 84px;
    font-weight: bold;
    font: italic 'Fjalla One';
    letter-spacing: 5px;
    text-shadow: 4px 5px #0F0F0F, 6px 7px #C6A39A;
    padding-top: 75px;
    margin-bottom: 60px;
}

.description {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 600;
}

.while-supplies-last {
    margin-bottom: 75px;
}

.while-supplies-last .description {
    margin-bottom: 10px;
}

.while-supplies-last .subtext {
    margin-top: 0;
}

.send-instructions {
    background: #E4D9D4;
    min-width: 45em;
}

.send-instructions p {
    max-width: 25em;
    margin-left: auto;
    margin-right: auto;
}

.send-instructions .description {
    background: #EB6724;
    color: white;
    margin-bottom: 15px;
    padding: 1em;
    transform: translateY(-2em);
}

.send-instructions .subtext {
    font-size: 18px;
    bottom: 0px;
}

.send-instructions .horizontal-steps .columns {
    position: relative;
    padding-top: 60px;
    top: 50%;
    transform: translateY(-50%);
    margin-bottom: -100px;
}

.subtext {
    font-size: 20px;
    font-style: italic;
}

.symbol {
    font-size: 38px;
}

.icon {
    display: inline-block;
    text-indent: -9999px;
}

.quarter {
    background-image: url('quarter.svg');
    width: 105px;
    height: 105px;
    background-size: 105px 105px;

    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.letter {
    background-image: url('letter.svg');
    width: 600px;
    height: 300px;
    background-size: 600px 300px;
}

.header {
    background: url('img/dark_wood.png') center center fixed;
    color: white;
    min-width: 45em;
    width: 100%;
    padding-top: 20%;
    padding-bottom: 20%;
}

.recieve-instructions {
    background: #303030;
    color: rgba(255, 255, 255, 0.6);
    min-width: 45em;
    padding: 3em 0;
}

.recieve-instructions img {
    height: 200px;
}

.recieve-instructions .subtext {
    margin-bottom: 0;
}